.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  &_logo-web {
    color: #2196f3;
    margin-right: 93px;
  }
  &_logo-studio {
    color: #000000;
  }
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header_list {
  display: flex;
}

&_item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

&_link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

&_link--current {
  color: var(--accent-color);
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    position: absolute;
    bottom: -32px;
    left: 0;
    border-radius: 2px;
  }
}

&_mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 30px;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* .header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
} */

&_tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.link_box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon_mail {
  margin-right: 10px;
  fill: currentColor;
}

.icon_tel {
  margin-right: 10px;
  fill: currentColor;
}
